@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#header {
  margin: auto;
  text-align: center;
}

#phrase {
  top: 0px;
  left: 0px;
  margin: auto;
  min-height: 1em;
  text-align: center;
  box-sizing: border-box;
  height: 20px;
}

.type {
  margin-top: 0;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.cursor {
  display: inline-block;
  min-width: 3px;
  background: white;
  margin-left: -0.2em;
  margin-top: -0.1em;
  height: 1.3em;
  vertical-align: middle;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    background: none;
  }
  50% {
    background: white;
  }
}

h1 {
  margin-bottom: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  -webkit-transition: font-size 0.2s ease;
  -moz-transition: font-size 0.2s ease;
  -o-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.75rem;
  }
}
